@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: "Poppins", Helvetica, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

body {
  background-color: var(--cl-light);
}

.container-960 {
  width: min(100%, 960px);
  height: auto;
  margin: 0 auto;
  background-color: var(--cl-orange);
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: var(--cl-green);
  margin-top: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box4"
    "box3"
    "box5"
    "box6";
}

.one {
  height: 300px;
  grid-area: box1;
}

.two {
  height: 300px;
  grid-area: box2;
}

.three {
  height: 300px;
  grid-area: box3;
}

.four {
  height: 300px;
  grid-area: box4;
}

.five {
  height: 300px;
  grid-area: box5;
}

.six {
  height: 300px;
  grid-area: box6;
}

@media (min-width: 680px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "box1 box2"
      "box3 box4"
      "box5 box6";
  }
}
