.button {
  background-color: var(--cl-red);
  color: white;
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #c94848;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-50 {
  width: 100%;
}

@media (min-width: 680px) {
  .w-50 {
    width: 50%;
  }

  .disable {
    display: none;
  }
}
