.category-img {
  max-width: 100%;
  object-fit: cover;
  min-height: 300px;
  min-height: auto;
  width: -webkit-fill-available;
  height: 400px;
}

.menu-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 0 2rem;
  transition: all 0.3s ease-in-out;
}

/* image wrapper used for both product and contact header images */
.image-wrapper {
  height: 50vh;
  width: min(100%, 960px);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 960px) {
  .image-wrapper {
    margin: 5rem auto 0;
  }

  .menu-img {
    padding: 0;
  }
}
