.category-img {
  max-width: 100%;
  object-fit: cover;
  min-height: 300px;
  min-height: auto;
  width: -webkit-fill-available;
  height: 300px;
}

.menu-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
