.nav-container {
  height: 10vh;
  background-color: var(--cl-green);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
  filter: drop-shadow(1px -4px 4px black);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 120em);
}

.logo {
  flex: 1;
}

.logo img {
  height: 8vh;
}

.nav {
  align-items: center;
  width: 100%;
}

.navigation {
  display: none;
}

.mobile-navigation {
  display: flex;
}

.burger {
  cursor: pointer;
}

.mobile-navigation ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8em;
  right: 0;
  left: 0;
  background-color: var(--cl-light);
  border-top: 2px solid var(--cl-green);
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

@media (min-width: 960px) {
  .nav-container {
    background-color: var(--cl-light);
  }
  .mobile-navigation {
    display: none;
  }
  .navigation {
    display: flex;
  }
}
