.nav-container {
  height: 8em;
  background-color: var(--cl-green);
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 120em);
}

.logo {
  flex: 1;
}

.logo img {
  height: 5em;
}

.nav {
  align-items: center;
}

.mobile-navigation {
  display: flex;
}

.mobile-navigation .ul-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8em;
  right: 0;
  width: 100%;
  background-color: pink;
  border-top: 2px solid red;
}

.mobile-navigation .ul-links .link {
  padding-left: 2em;
}

.navigation {
  display: none;
}

@media (min-width: 760px) {
  .mobile-navigation {
    display: none;
  }
  .navigation {
    display: flex;
  }
}
